{% if ads %}
  {% set slot_name = banner_ad_slot|default('top_banner') %}
  {% if ads.banner and ads.banner.key %}
    <div class="hidden md:flex w-full justify-center items-center my-4" data-ad-slot="{{ slot_name }}">
      <script>
        atOptions = {
          'key': '{{ ads.banner.key }}',
          'format': '{{ ads.banner.format or "iframe" }}',
          'height': {{ ads.banner.height or 90 }},
          'width': {{ ads.banner.width or 728 }},
          'params': {}
        };
      </script>
      <script src="https://www.{{ ads.banner.domain }}/{{ ads.banner.key }}/invoke.js"></script>
    </div>
  {% endif %}

  {% if ads.banner_mobile and ads.banner_mobile.key %}
    <div class="md:hidden w-full flex justify-center items-center my-3" data-ad-slot="{{ slot_name }}">
      <script>
        atOptions = {
          'key': '{{ ads.banner_mobile.key }}',
          'format': '{{ ads.banner_mobile.format or "iframe" }}',
          'height': {{ ads.banner_mobile.height or 50 }},
          'width': {{ ads.banner_mobile.width or 320 }},
          'params': {}
        };
      </script>
      <script src="https://www.{{ ads.banner_mobile.domain }}/{{ ads.banner_mobile.key }}/invoke.js"></script>
    </div>
  {% elif ads.banner and ads.banner.key %}
    <div class="md:hidden w-full flex justify-center items-center my-3 overflow-x-auto" data-ad-slot="{{ slot_name }}">
      <script>
        atOptions = {
          'key': '{{ ads.banner.key }}',
          'format': '{{ ads.banner.format or "iframe" }}',
          'height': {{ ads.banner.height or 90 }},
          'width': {{ ads.banner.width or 728 }},
          'params': {}
        };
      </script>
      <script src="https://www.{{ ads.banner.domain }}/{{ ads.banner.key }}/invoke.js"></script>
    </div>
  {% endif %}
{% endif %}
