<!DOCTYPE html>
<html lang="en" class="md:scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block social_tags %}
        <meta property="og:title" content="MaxCinema - Watch Movies Online">
        <meta property="og:description" content="Stream and download your favorite movies.">
        
        <meta property="og:image" content="https://cdn-icons-png.flaticon.com/512/2503/2503508.png">
        
        <meta property="og:url" content="{{ request.url }}">
        <meta name="twitter:card" content="summary_large_image">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/a3231bc2d5.js" crossorigin="anonymous"></script>
    {% block style %}
    
    {% endblock %}
</head>

<body id="BodyTop" class="relative bg-gray-100 scroll-mt-20 {% if dark %} dark:bg-[#0a0a0a] {% endif %} xl:pb-7">
    
    {% if not dark %}
        {%include "header.html"%}
    {% else %}
        {% include "darkheader.html" %}
    {% endif %}

    <div class="w-full xl:w-[85%] xl:max-w-[1600px] mx-auto bg-white min-h-screen 
                xl:border-x-2 xl:border-[#830506] xl:shadow-2xl 
                {% if dark %} dark:bg-[#0a0a0a] dark:border-gray-800 {% endif %} xl:rounded-b-lg">

        <div style="height: var(--header-height, 80px);" class="w-full xl:-mb-28 transition-all duration-300"></div>

        <main class="w-full px-4 sm:px-6 xl:px-8 max-w-7xl mx-auto">
            
            <section class="mt-4 px-0 md:px-12 xl:px-24">
                <div class="bg-gray-800 p-6 rounded-xl text-center text-gray-300">
                AD SPACE — Banner Placeholder
                </div>
            </section>
            
            {% block content %}
            {% endblock %}
        </main>
        
        {%include "footer.html"%}
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/trending.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/trailer_comment.js') }}"></script>
    
    <script>
        function setHeaderPadding() {
            const header = document.getElementById("header");
            if (header) {
                const h = header.offsetHeight;
                document.documentElement.style.setProperty("--header-height", h + "px");
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            setHeaderPadding();
            setTimeout(setHeaderPadding, 100); 
        });

        window.addEventListener("resize", setHeaderPadding);
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>